# 全てのファイルのデフォルトの設定です。
# text かどうかの判定を Git で自動的に行い、テキストと判定されれば 
# core.autocrlf などに従い改行コードを自動的に変換します。
# ただし、設定がこのあとにある場合は、そちらが優先されます。
* text=auto

# 拡張子単位の属性の割り当てです。
*.cfg -text
*.dylib -text -diff
*.exp -text -diff
*.gd text eol=crlf
*.gdextension -text -diff
*.gitattributes text eol=crlf
*.gitignore text eol=crlf
*.godot -text
*.import -text -diff
*.lib -text -diff
*.md text eol=crlf
*.png -text -diff
*.so -text -diff
*.svg -text
*.tmp -text -diff
*.tres -text
*.tscn -text
*.ttf -text -diff
*.txt text eol=crlf